adf-pipelines/pipeline/InvokeRestAPI.json
{
	"name": "InvokeRestAPI",
	"properties": {
		"activities": [
			{
				"name": "Create Spark Jar Job",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://eastus2.azuredatabricks.net/api/2.0/jobs/create",
					"method": "POST",
					"body": {
						"name": "adf - sparkapp jar job",
						"existing_cluster_id": "0115-181847-ion345",
						"timeout_seconds": 3600,
						"max_retries": 1,
						"libraries": [
							{
								"jar": "dbfs:/tmp/bk/spark-jar-jobs/spark-jar-job_2.11.-0.1.jar"
							}
						],
						"spark_jar_task": {
							"main_class_name": "example.sparkjobs.SparkApp",
							"parameters": [
								"some arg"
							]
						}
					},
					"authentication": {
						"type": "Basic",
						"username": "token",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Run Jar Job",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Create Spark Jar Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://eastus2.azuredatabricks.net/api/2.0/jobs/run-now",
					"method": "POST",
					"body": {
						"value": "@activity('Create Spark Jar Job').output",
						"type": "Expression"
					},
					"authentication": {
						"type": "Basic",
						"username": "token",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			},
			{
				"name": "Get Job Execution Status",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Run Jar Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://eastus2.azuredatabricks.net/api/2.0/jobs/runs/get?run_id=',activity('Run Jar Job').output.run_id)",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "Basic",
						"username": "token",
						"password": {
							"type": "SecureString",
							"value": "**********"
						}
					}
				}
			}
		],
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}